# VSCode
.vscode/**
.vscode-test/**

# Git
.gitignore

# Github
.github/**

# Build
gulpfile.js

# Test
test/**
out/test/**

# TypeScript
out/**
src/**
**/tsconfig.json
**/*.map
!dist/extension.js.map
**/*.ts

# Yarn
.yarnrc
yarn-error*.log
yarn.lock

# ESLint
**/.eslintrc.json

# YAML
syntaxes/*.yaml
syntaxes/tmLanguage.schema.json

# Node
node_modules/**

# 3rd Party
3rdparty/**

# i18n
crowdin.yml
crowdin-i18n/**
