# VSCode
.vscode/**
.vscode-test/**

# Git
.gitignore

# Test
test/**
out/test/**

# TypeScript
out/**
src/**
**/tsconfig.json
**/*.map
**/*.ts

# Yarn
.yarnrc
yarn-error*.log
yarn.lock

# ESLint
**/.eslintrc.json

# YAML
syntaxes/*.yaml
